.error {
  color: red;
  font-weight: bold;
}

.wait-indicator {
  position: absolute;
  margin-left: 5px;
  width: 20px;
}

body {
  text-align: center;
  margin-top: 100px;
  background-color: salmon;
}

image {
  border-style: dotted;
}
